
<button mat-icon-button class="sheet-close" (click)="close()"><mat-icon>close</mat-icon></button>
<mat-card class="main-sheet" (click)="openDetails()">
    <mat-card-title>{{ data.location.name }}</mat-card-title>
    <mat-card-subtitle style="margin-bottom: 0">{{ data.location.address }}</mat-card-subtitle>
    <mat-card-subtitle style="margin-bottom: 0">{{ data.location.phone }}</mat-card-subtitle>
    <app-specials-display [location]="data.location" [mapPage]="true" [inDetails]="false"></app-specials-display>
</mat-card>
