<div class="mobile-footer">
    <!-- Searchbar -->
   <div class="grid-container-3">
      <div appNoPadding class="footer-search-btn-icon-div">
        <mat-icon class="searchbar-icon footer-search-icon" aria-hidden="false" aria-label="my location"
          (click)="getUserLocation()">my_location</mat-icon>
      </div>
      <div appNoPadding>

        <form class="form-field-searchbar" style="margin-top: -15px;">
          <mat-form-field [floatLabel]="'never'" color="primary" class="searchbar">
            <input matInput type="text" #searchInput2 placeholder="Enter City or Zipcode">
            <!-- <mat-placeholder class="placeholder">Arlington, VA</mat-placeholder> -->
          </mat-form-field>
        </form>
      </div>
      <div appNoPadding class="footer-search-btn-icon-div">
        <mat-icon class="searchbar-icon footer-search-icon" aria-hidden="false" aria-label="search icon"
          (click)="onSearch(searchInput2)">search
        </mat-icon>
      </div>
    </div>
    <!-- Searchbar End-->
  </div>
