     <!-- Popup for when search results aren't found  -->
     <div appTextCenter class='city-select-div'>
        <mat-card class="city-select-card">
        <h3 class="city-select-title">{{ 'Restaurant Specials' | uppercase }}</h3>
        <hr appNoMargin style="border-top: 1px solid lightgray; margin-bottom: 20px;">
        <!-- <h4 style="background-color: #ffc800;margin-top: 0; padding: 6px;">We haven't reached this area yet. </h4> -->
       <button mat-raised-button color="accent" style="margin-bottom: 20px; color:white" (click)="nearbySearch()">Search Nearby
        <mat-icon class="search-btn-icon">search</mat-icon></button>
        <p style="margin-top: 0;">or</p>
        <h5 style="margin-bottom: 0;" >Choose the closest city:</h5>
        <mat-form-field style="z-index: 1005;">
          <mat-label>Select a City</mat-label>
          <mat-select (selectionChange)="onSearch($event.value)">
            <mat-option #citySelection *ngFor="let city of cities" [value]="city.city">
              {{city.city}}
            </mat-option>
          </mat-select>
        </mat-form-field>
       
        <hr width="75%" style="border-top: 1px solid lightgray;">
        <h5 style="margin: auto 8px">Help contribute by visiting our <a routerLink="suggest">suggest</a> page.</h5>
       <!-- <h4> Additional Search options: </h4>
        <div class="grid-container-1">
          <div>
            <button mat-raised-button color="accent" (click)="getUserLocation(); geoChosen()">Use My Location</button>
          </div>
           <div>
            <button mat-raised-button color="warn" (click)="manualSearch()">Search Manually</button>
          </div> 
        </div>s
        <h5 style="margin-bottom: 0">A Map search is also available</h5> --> 
      </mat-card>
      </div>
