.city-select-div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 1000;
  }
  .city-select-card {
    text-align: center;
    padding: 15px 0 !important;
    margin: 30vh 0 0 0;
    background-color: white;
    border: 0;
    box-shadow: none;
  }

  
  .city-select-title {
    margin-top: 0;
    margin-bottom: 10px
  }
  .search-btn-icon {
    margin-right: -10px;
    padding-left: 5px;
  }

  @media only screen and (min-width: 801px) {
    .city-select-card {
      text-align: center;
      max-width: 58vw;
      height: auto;
      margin: 20vh auto;
      
    }
  }