@import '../../../../variables';
// remove the top margin on the title above the active speacials
.active-title {
  text-align: center;
    margin: 0px;
    background-color: $primary;
  }
.special-time {
  margin: 0px;
  text-align: center;
  display: grid;
  padding: 2px;
  color: white;
}

.inactive-date {
    margin: 0 0 -12px 0;
    background-color: #00a4ef;
    text-align: center;
}

.specials-list {
  padding: 0px;
  margin: 0px;
  }

.specials-item {
    padding-left: 7px;
    height: 16px;
  }

.down-arrow-icon {
  font-size: 15px;
  line-height: 40px;
}

// add space after the last special in a category
mat-list-item:last-child{
  margin-bottom: 7px;
}

mat-list-item {
  margin-bottom: 4px;
}

.price {
  font-size: 14px; 
  vertical-align: unset;
}