<ng-container *ngIf="(filters$ | async)!.filters.active">
  <p class="active-title"
     *ngIf="(filters$ | async)!.filters.active">-Happening Now-</p>
  <p *ngIf="!(filters$ | async)!.filters.active">Active Not Selected</p>
</ng-container>


<!-- SPECIALS -->
<div *ngFor="let category of categories; let i = index">
  <ng-container *ngFor="let dateType of dateTypes; let l = index">
    <div class="specials-list" *ngFor="let special of location[category][dateType]; let k = index">
      <!-- <ng-container *ngIf="special.active"> -->
        <!-- Active Specials title -->
        <span *ngIf="
        special.active && (filters$ | async)!.filters.active && special.display" [ngClass]="location[category][dateType][k].color" class="special-time">
          {{ category | titlecase }} Ending @ {{special.end}}
        </span>
        <span *ngIf="!(filters$ | async)!.filters.active && location[category].display" [ngClass]="location[category].color" class="special-time">
        <span *ngIf="!special.date; else date">{{ special.days }} <br> {{ special.start }} - {{special.end}} <br> 
          <span *ngFor="let category of special.categories; let x = index;">
            {{ x > 0 ? ', ' : '' }} {{ category === 'happyHour' ? 'Happy Hour' : category | titlecase }} 
          </span>
        </span>
        <ng-template #date>{{ special.date }} <br> {{ special.start }}  {{special.end}}</ng-template>
        </span>

        <!--SPECIALS START-->
        <ng-container *ngIf="mapPage === false">
        <mat-list role="list" *ngIf="
        !(filters$ | async)!.filters.active && location.display && location[category].display && special.display || 
        (filters$ | async)!.filters.active && location[category].active && special.active && special.display">
          <mat-list-item class="specials-item" *ngFor="let title of special.title; let i = index;">
              <p mat-line class="special-title">
                <mat-icon *ngIf="category === 'food'" [ngStyle]="{'font-size' : pageUrl === '/map' ? '9px' : '12px', 'line-height': '35px' }">restaurant
                </mat-icon>
                <mat-icon *ngIf="category === 'drinks'" [ngStyle]="{'font-size' : pageUrl === '/map' ? '9px' : '12px', 'line-height': '35px'  }">local_bar
                </mat-icon>
                <mat-icon *ngIf="category === 'events'" [ngStyle]="{'font-size' : pageUrl === '/map' ? '9px' : '12px' , 'line-height': '35px' }">event
                </mat-icon>
                {{ title | titlecase }}</p> <!--  - <span class="price">${{ special.price }}</span> -->
              <div mat-line *ngIf="special.description[i] !== 'null' && inDetails" class="special-description"> {{ special.description[i] | lowercase}}</div>
           
          </mat-list-item>
        </mat-list>
      </ng-container>
      <!--RECURRING END-->
      <!-- </ng-container> -->
    </div>
    <!-- </ng-container> -->
  </ng-container>

</div>
<p *ngIf="mapPage === true" style="text-align: center;">Click to see specials</p>
<!-- </ng-container> -->

<!-- [ngClass]="{'map-adjust-font' : pageUrl === '/map'}" above -->
<!-- |{{special.categories[0] | uppercase}} {{special.categories[1] | uppercase}} -->
<!-- [ngStyle]="{'height' : pageUrl === '/map' ? '15px' : '19px' }" above -->
<!-- <mat-icon class="down-arrow-icon">arrow_downward</mat-icon> -->
<!-- <p class="text-center active-title"
 *ngIf="!location.food!.active && !location.drinks!.active && !location.events!.active && (filters$ | async)!.filters.active">No
 Specials Happening Now</p> -->
<!-- <ng-container *ngIf="(filterValues | async)!.filters.active"> -->