<!-- Header -->


    <div style="text-align: center; padding: 4px;">
      <h1 class="header">You want restaurant specials and we want to show them to you!</h1>
      <hr width="50%">
      <h2><strong>The Customers Problem: </strong> You don’t know what you don’t know…</h2>
      <p>Restaurants offer specials all the time. This incentivizes customers to keep coming back and entices new ones
        to check them out for the first time. Customer retention is paramount, and offering food and drink specials is
        an effective method to meet this goal. However, most people don’t take notes on all of the food and drink
        specials (including the dates and times they are offered) for every restaurant that they go to and most
        restaurants don’t effectively advertise daily/weekly specials to their existing and potential customer base.
      </p>
      <hr width="50%">
      <h2><strong>The Restaurant Problem: </strong> People can be lazy… </h2>
      <p>Restaurants use food and drink specials to get customers in on days/times where volume is low. Most restaurant
        specials are only advertised: 1) inside of the restaurant 2) on the restaurant’s website and/or 3) on
        restaurant-owned social media channels. This requires the customer to have existing familiarity with the
        business or they must engage in quasi internet sleuthing in order to be aware of the dates, times and special
        offerings that any given business has. Most new customers do not want to put in a lot of effort to find specials
        so they will just stick to what they already happen to know - negatively impacting new customer acquisition
        rates.</p>
      <hr width="50%">
      <h2>The Solution: Drumroll please...</h2>
      <p>We created Savory Scout to bridge the gap between restaurants that offer specials to get new customers and
        people that want to discover new places while also scoring a great deal. Our solution is to provide a platform
        where people can see all of the specials a restaurant offers and deliver that information to them in real-time
        and hassle free. </p>
      <hr width="50%">
      <h2>So how does it work?</h2>
      <p>We use the current location of the customer to provide them with a list of local restaurants that are currently
        offering food or dink specials. The search can be done as a list or on a map.</p>
      <figure>
        <img class="tutorial-image" src="./../../assets/imgs/mobile-main.png"
          alt="Food and drinks specials search page">
        <figcaption>List View</figcaption>
      </figure>
      <figure>
        <img class="tutorial-image" src="./../../assets/imgs/mobile-map.png" alt="Food and drinks specials map page">
        <figcaption>Map View</figcaption>
      </figure>
      <p>In the above pictures, specials that are <span style="font-size: 22px">currently active</span> at each
        restaurant are shown and it lets you know what time those specials end. </p>
      <p>Click the location or view details button to see every special that a restaurant has throughout the week.</p>
      <figure>
        <img id="active-image" class="tutorial-image" src="./../../assets/imgs/mobile-details-active.png"
          alt="Active specials details page">
        <figcaption>Details Page - Active Specials</figcaption>
      </figure>
      <figure>
        <img id="food-image" class="tutorial-image" src="./../../assets/imgs/mobile-details-food.png"
          alt="Food specials details page">
        <figcaption>Details Page - Monday Food Specials</figcaption>
      </figure>
      <figure>
        <img id="drinks-image" class="tutorial-image" src="./../../assets/imgs/mobile-details-drinks.png"
          alt="Drink specials details page">
        <figcaption>Details Page - Monday Drink Specials</figcaption>
      </figure>
      <h2>It's that easy!</h2>
    </div>
    <br>
    <br>
    <br>

