
    <!-- Searchbar -->
<mat-card>

    <mat-card-content style="margin-bottom: 0px; padding-bottom: 0px;">
        <form>
          <mat-form-field [floatLabel]="'never'" color="primary" style="width: 85%;">
            <input matInput type="text" #searchInput2 placeholder="Search..." (keydown.enter)="onSearch(searchInput2)">
            <!-- <mat-placeholder class="placeholder">Arlington, VA</mat-placeholder> -->
          </mat-form-field>
          <mat-icon matSuffix color="primary" aria-label="search icon" style="cursor: pointer; padding-left: 8px;"
          (click)="onSearch(searchInput2)">search
        </mat-icon>
        </form>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button mat-button (click)="getUserLocation()" style="display: contents">
        <mat-icon aria-label="my location" color="primary"
          >my_location</mat-icon> My Location
        </button>
      </mat-card-actions>

  </mat-card>
    <!-- Searchbar End-->

