<mat-card>
    <mat-card-title><h2 style="margin: 0">Save us as an App!.</h2></mat-card-title>
    <mat-card-content>
        <p>Two simple steps on Safari:</p>
        <hr>
        <h2>Step 1:</h2>
        <h4>Press the <img src="./../../../assets/imgs/forward-icon.jpeg" class="fwd-icon"> button at the bottom of your screen.</h4>
        <h2>Step 2:</h2>
        <h4>Then click on <span style="font-size: 18px;">Add to Home Screen</span>: <br>
            <img src="./../../../assets/imgs/a2hs-btn.jpeg" class="a2hs-img"></h4>
        <mat-card-actions style="text-align: center">
            <button [mat-dialog-close] mat-raised-button color="warn" (click)="cancel()">Close</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
