  // Make the map full screen
  agm-map {
    height: 90vh;
    width: 100%;
  }
 
 // Loading Screen background
 .loading-background {
    background: url("./../../assets/imgs/desktop_map_loading_reduced.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100vh;
    position: absolute;
    width: 100%;
    opacity: .6;
  }

  ::ng-deep .poi-info-window {
    display: none !important;
  }

  ::ng-deep .map-container {
    height: calc(100vh - 64px) !important;
  }
  ::ng-deep .gm-style-iw-d {
    max-height: 385px !important;
  }


  //////////////    User Location radiate ///////////
  
  .circle {
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:red;
    
    position:relative;
    top:100px;
    left:300px;
    
    -webkit-transition:height .25s ease, width .25s ease;
    transition:height .25s ease, width .25s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
  
  .circle:hover{
    height:150px;
    width:150px;
  }
  
  #user:before,
  #user:after {
    content:'';
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    border-radius:50%;
    border:1px solid red;
  }
  
  #user:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
  }
  #user:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite;
  }
  
  #user:hover:before,
  #user:hover:after {
    -webkit-animation: none;
    animation: none;
  }
  
  @-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
  }
  
  @keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
  }