

  <!-- Show the city select -->
  <app-city-select *ngIf="(filteredLocations$ | async)!.locations.length === 0"></app-city-select>


<div *ngIf="apiLoaded | async">
<google-map 
height="calc(100vh - 56px)"
width="100vw"
[center]="center"
[zoom]="zoom"
[options]="options">
<map-marker 
#somemarker="mapMarker" 
*ngFor="let marker of markers; let i = index" 
[position]="marker.position"
[title]="marker.title">
</map-marker>
<!-- (mapClick)="openInfo(somemarker, marker.info)" -->
<!-- <map-info-window>{{ infoContent }}</map-info-window> -->
</google-map>
</div>

