<!-- <div>
    <h1></h1>
    <p>Using this web app is <strong>FREE</strong>, we do however require users to login after their 7 day trial for security purposes.</p>
    <p>That's it! No fees etc. Once you log to an account you can search restaurant specials to your hearts content!</p>
</div> -->

<mat-card class=" main-card">
    <mat-card-title style="text-align: center">
        <h3 color="accent" style="margin: 0;">Heads Up!</h3>
        <hr>
    </mat-card-title>
    <mat-card-content style="text-align: center;">
        <p style="font-size: 17px;">Using this web app is <strong>FREE</strong>, but we do require users to login after 7 days for speed & security purposes.<br><br><strong>That's All!</strong></p>
        <p style="font-size: 14px;">No fees, subscriptions etc. Once you log to an account you can search restaurant specials to your hearts content!</p>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
        <button mat-raised-button mat-dialog-close color="primary">OK</button>
    </mat-card-actions>
</mat-card>
