
<!-- add a spacer on mobile devices -->
<span *ngIf="screenWidth < 800" style='height: 57px; display: block;'></span>


    <div>
      <mat-card style="text-align: center;" class="card">
        <mat-card-title>Contact Savory Scout</mat-card-title>
        <mat-card-subtitle>Use the form below to contact us about any of your needs, concerns, or more information
        </mat-card-subtitle>
        <mat-icon  class="sent-image material-icons" *ngIf="!sent">email</mat-icon>
        <mat-icon  class="sent-image material-icons" *ngIf="sent" style="color: #40d869 !important">check_circle</mat-icon>
          <mat-card-subtitle *ngIf="sent" class="message-sent">Message Sent!</mat-card-subtitle>
          <!-- Error Message -->
        <mat-card-subtitle appTextCenter *ngIf="errorMessage" style="background-color: rgb(255, 123, 123);">Error, please try
          again</mat-card-subtitle>
        <form [formGroup]="emailForm" (ngSubmit)="submitForm(emailForm)" *ngIf="!sent && emailForm">
          <mat-card-content>
            <mat-form-field color="primary">
              <input matInput type="text" placeholder="Enter Name:" #name formControlName="name">
              <mat-hint align="end">Not more then 30 characters long.</mat-hint>
              <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
              <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 30 characters</mat-error>
            </mat-form-field>
            <mat-form-field color="primary" class="phone-input">
              <input matInput placeholder="Enter Phone:" #phone formControlName="phone" >
            </mat-form-field>
            <mat-form-field color="primary" required>
              <input matInput placeholder="Enter Email:" #email formControlName="email" required>
              <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
              <mat-error *ngIf="hasError('email', 'email')">Email must be valid</mat-error>
            </mat-form-field>
            <mat-form-field color="primary">
              <textarea matInput placeholder="What can we help you with?:" #text formControlName="text"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="25"></textarea>
                <mat-hint align="end">Not more then 800 characters long.</mat-hint>
              <mat-error *ngIf="hasError('text', 'required')">Text content is required</mat-error>
              <mat-error *ngIf="hasError('text', 'maxlength')">You have more than 800 characters</mat-error>
            </mat-form-field>

            <mat-card-actions>
              <button mat-raised-button [disabled]="!emailForm.valid" type="submit" color="accent">Submit</button>
            </mat-card-actions>
          </mat-card-content>
        </form>
      </mat-card>
    </div>

