<mat-card class="main-card">
    <mat-card-title >
        <h2 style="margin: 0">Save as App!</h2>
        <h5 style="margin: 0;">The Best Experience</h5>
    </mat-card-title>

    <mat-card-content>
        <hr>
        <h2 style="text-align: left;">Step 1:</h2>
        <h3>Click the 3 dots next to the address bar:</h3>
        <img src="./../../../assets/imgs/Firefox-A2HS-1.jpg" class="a2hs-img-1">
        <br>
        <h2 style="text-align: left;">Step 2:</h2>
        <h3>Then click on <span style="font-size: 18px;">Install</span>: </h3> 
            <img src="./../../../assets/imgs/Firefox-A2HS-2.jpg" class="a2hs-img-2">
        <br>
        <h2 style="text-align: left;">Step 3:</h2>
        <h3>Then, click on <span style="font-size: 18px;">Add</span>: </h3>
            <img src="./../../../assets/imgs/Firefox-A2HS-3.jpg" class="a2hs-img-3">
        <hr>
        <h1>That's All!!</h1>
        <h3>Use the icon on your home screen & Savory Scout will run just like an App.</h3>
        <mat-card-actions style="text-align: center">
            <button [mat-dialog-close] mat-raised-button color="warn" (click)="cancel()">Close</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>