<mat-card>
    <mat-card-title>Privacy Policy</mat-card-title>
    <mat-card-content>
        <p> Protecting your private information is our priority. This Statement of Privacy applies to www.savoryscout.com, and Savory Scout LLC and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Savory Scout LLC include www.savoryscout.com and Savory Scout. The Savory Scout website is a Restaurant specials web application site. By using the Savory Scout website, you consent to the data practices described in this statement.  </p>

        <p class="bold">  Collection of your Personal Information  </p>
        <p> In order to better provide you with products and services offered, Savory Scout may collect personally identifiable information, such as your: </p>
        <p> - E-mail Address </p>
        <p> We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services. These may include: (a) registering for an account; (b) entering a sweepstakes or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when ordering and purchasing products and services. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future. </p>
        <p class="bold"> Use of your Personal Information </p>
        <p> Savory Scout collects and uses your personal information to operate and deliver the services you have requested. </p>
        <p> Savory Scout may also use your personally identifiable information to inform you of other products or services available from Savory Scout and its affiliates. </p>
        <p class="bold"> Sharing Information with Third Parties </p>
        <p> Savory Scout does not sell, rent or lease its customer lists to third parties. </p>
        <p> Savory Scout may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Savory Scout, and they are required to maintain the confidentiality of your information.</p>
        <p> Savory Scout may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Savory Scout or the site; (b) protect and defend the rights or property of Savory Scout; and/or (c) act under exigent circumstances to protect the personal safety of users of Savory Scout, or the public. </p>
        <p class="bold"> Automatically Collected Information </p>
        <p> 
            Information about your computer hardware and software may be automatically collected by Savory Scout. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Savory Scout website. </p>
        <p class="bold"> Security of your Personal Information </p>
        <p> Savory Scout secures your personal information from unauthorized access, use, or disclosure. Savory Scout uses the following methods for this purpose: </p>
        <p> - SSL Protocol </p>
        <p> When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol. </p>
        <p> 
            We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed. </p>
        <p class="bold"> Right to Deletion </p>
        <p> Subject to certain exceptions set out below, on receipt of a verifiable request from you, we will: </p>
        <ul>
            <li>Delete your personal information from our records; and</li>
            <li>Direct any service providers to delete your personal information from their records.</li>
        </ul>
        <p> Please note that we may not be able to comply with requests to delete your personal information if it is necessary to: </p>
        <ul>
            <li>Complete the transaction for which the personal information was collected, fulfill the terms of a written warranty or product recall conducted in accordance with federal law, provide a good or service requested by you, or reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform a contract between you and us;</li>
            <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those responsible for that activity;
            </li>
            <li>Debug to identify and repair errors that impair existing intended functionality;</li>
            <li>Exercise free speech, ensure the right of another consumer to exercise his or her right
                of free speech, or exercise another right provided for by law;</li>
            <li>Comply with the California Electronic Communications Privacy Act;</li>
            <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when our deletion of the information is likely to render impossible or seriously impair the achievement of such research, provided we have obtained your informed consent;</li>
            <li>Enable solely internal uses that are reasonably aligned with your expectations based on your relationship with us;</li>
            <li>Comply with an existing legal obligation; or</li>
            <li>Otherwise use your personal information, internally, in a lawful manner that is compatible with the context in which you provided the information.</li>
        </ul>
        <p class="bold"> Children Under Thirteen </p>
        <p> Savory Scout does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website. </p>
        <p class="bold"> E-mail Communications </p>
        <p> From time to time, Savory Scout may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication. In order to improve our Services, we may receive a notification when you open an email from Savory Scout or click on a link therein. </p>
        <p> 
            If you would like to stop receiving marketing or promotional communications via email from Savory Scout, you may opt out of such communications by "replying STOP" or "clicking on the UNSUBSCRIBE button.". </p>
        <p class="bold"> External Data Storage Sites </p>
        <p> We may store your data on servers provided by third party hosting vendors with whom we have contracted. </p>
        <p class="bold"> Changes to this Statement </p>
        <p> Savory Scout reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our website, and/or by updating any privacy information. Your continued use of the website and/or Services available after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy. </p>
        <p class="bold"> Contact Information </p>
        <p> Savory Scout LLC <br>
        <p> Email:<br> contact@savoryscout.com<br><br>
            Telephone:<br>(703) 303-4838<br><br>
            Effective as of October 14, 2022 </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
            
        

    </mat-card-content>
</mat-card>
