
.loctation-info-wrapper {
    margin: 0;
    padding: 6px;
    border-bottom: 1px solid lightgray;
}

.info-btn {
    float: right;
    margin: -6px 24px 0px 0;
}
.distance{
    text-align: center;
    display: block;
    margin-top: 8px;
}

p {
    margin: 5px;
}