<div class="loctation-info-wrapper">
  <div appNoPadding class="grid-container-2 title">
    <div>
<p>{{data.address}}</p>
<p>{{data.phone}}</p>
</div>


<div style="text-align: right; padding: 0 10px;">
  <button mat-raised-button id="report-button" color="warn" (click)="openReport()">Report</button>
  <strong class="distance">{{ data.distance | number:'0.0-2'}}mi away</strong>
</div><br>

</div>
<div class="grid-container-2" style="margin-top: -20px">
  <div>
    <p><a href="{{ data.website }}" target="_blank" rel="noopener noreferrer"> {{data.name }}'s Website</a></p>
  </div>
  <div style="text-align: right; padding: 0 10px;">
    <p>Owner Managed: <strong
        [style.color]="data.managed ? 'green' : (!data.managed ? 'red': null)">{{ !data.managed ? 'No' : 'Yes'  }}</strong></p>
  </div>
</div>

<div>
  <div class="grid-container-2">
    <p *ngIf="data.happyHourMenu && data.happyHourMenu.length > 0">Happy Hour Menu: <a href="{{ data.happyHourMenu }}" target="_blank" rel="noopener noreferrer">HERE</a></p>
  </div>
  <div>
    <p *ngIf="data.brunchMenu && data.brunchMenu.length > 0">Brunch Menu: <a href="{{ data.brunchMenu }}" target="_blank" rel="noopener noreferrer">HERE</a></p>
  </div>
</div>


  <div class="grid-container-2">
    <div >
      <p>Last Update: <strong>{{ date }}</strong> </p>
    </div>
    <div>
      <button mat-icon-button aria-label="Disclaimer Button" (click)="infoClick()" class="info-btn">
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </div>
</div>