/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/firebaseui/dist/firebaseui.css";
@import '../node_modules/@angular/material/theming';
@import './variables';
@include mat-core();

$my-app-primary: mat-palette($mat-blue);
$my-app-accent:  mat-palette($mat-green);
$my-app-warn:    mat-palette($mat-deep-orange, 900);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}
// Import Material Icons
@import 'https://fonts.googleapis.com/icon?family=Material+Icons'; 


/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overscroll-behavior: none;
  height: 100%;
  /* prevent pinch-zoom for Chrome 36+, Safari 13+ */
  touch-action: pan-x pan-y;

}
body, iframe {
    margin: 0;
    overscroll-behavior: contain;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

mat-sidenav-content {
  background-color: white
}

.blue {
  background-color: $primary;
}
.green{
  background-color: $accent;
}
.yellow{
  background-color: $caution;
}
.red{
  background-color: $warn;
}
.gray {
  background-color: gray;
}

// Apply this class to a div and all nested divs will be set up in a in a column grid according to the number
.grid-container-7{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.grid-container-6 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.grid-container-5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container-1 {
  display: grid;
  grid-template-columns: auto ;
}


// Panel Classes
.snackbar-font{
 font-size: 15px;
 font-weight: bold; 
}

.myapp-no-padding-dialog .mat-dialog-container {
  padding: 0;
  min-height: auto;
  height: 100%
  }
////////////// ///

@media only screen and (max-width: 800px) {
.myapp-no-padding-dialog .mat-dialog-container {
  padding: 0px !important;
}
/* Over 800px */
@media only screen and (min-width: 800px) {
  .main-card {
    max-width: 70vw;
    margin: auto;
  }
}
}