

::ng-deep .mat-card-header-text {
    margin: 0 0;
}
::ng-deep .gm-style .gm-style-iw-c {
    padding: 0 !important;
}

mat-card {
    cursor: pointer;
}

mat-card-header {
    font-size: 17px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}