
<!-- <app-warnings [filterValues]="filterValues" [filteredLocations$]="filteredLocations$"></app-warnings> -->

<!-- Loading Screen background -->
<!-- <div *ngIf="( filteredLocations$ | async ).restaurants.length === 0" class="map">
<span class="loading-background" role="img"></span>
</div> -->

<!-- Show the city select -->
<!-- <app-city-select *ngIf="(filteredLocations$ | async).noResultsInThisArea === true"></app-city-select> -->

  <!-- Loading Screen background -->
  <!-- <div *ngIf="(filteredLocations$ | async).restaurants.length === 0" class="loading-image">
    <span class="loading-background" role="img" aria-label="loading image for local restaurant specials and happy hours near me">
    </span>
  </div> -->
  <!-- Show the city select -->
  <!-- <app-city-select *ngIf="(filteredLocations$ | async).noResultsInThisArea === true"></app-city-select> -->
         
  <!-- <app-mobile-results *ngIf="screenWidth <= 800" [filterValues]="filterValues" [screenWidth]="screenWidth" [filteredLocations$]="filteredLocations$" [dayOfTheWeek]="dayOfTheWeek"></app-mobile-results>  -->   
  <app-desktop-results *ngIf="screenWidth > 800"  [screenWidth]="screenWidth" [filteredLocations$]="filteredLocations$" ></app-desktop-results>   

  <!-- Mobile Footer Searchbar -->
  <!-- <app-footer-navbar *ngIf="screenWidth <= 800"></app-footer-navbar> -->
  