
<!-- Inside the dialog, the location data passed to this modal from the search page 
can be accessed directly from "data" object. -->
<div mat-dialog-content appNoPadding class="card">
    <!-- Spinner -->
  <!-- <span class="spinner"  *ngIf="spinner">
    <mat-spinner class="spinner" color="primary">
    </mat-spinner>
  </span>
      
    <mat-card class="card" *ngIf="!reportLocation">
      <mat-card-header class="details-header">
      <div appNoPadding class="grid-container-2 title">
        <div appNoPadding>
            <mat-card-title>{{ data.name }}</mat-card-title>
        </div>
        <div  style="text-align: right; padding: 4px 10px 0 0;">
             <i matDialogClose class="material-icons close-btn" >close</i>
        </div>
      </div>
    </mat-card-header>

      <div appNoPadding class="grid-container-2">
        <div appNoPadding><mat-card-subtitle>{{ data.address }}</mat-card-subtitle></div>
        
      </div>
      <mat-card-subtitle>{{ data.phone }}</mat-card-subtitle>
      
      <div appNoPadding class="grid-container-2 title">
        <div appNoPadding>
          <mat-card-subtitle><a href="{{ data.website }}" target="_blank" rel="noopener noreferrer"> {{data.name }}'s Website</a></mat-card-subtitle>
          <mat-card-subtitle *ngIf="data.happyHourMenu > 0">Happy Hour Menu: <a href="{{ data.happyHourMenu }}" target="_blank" rel="noopener noreferrer">HERE</a></mat-card-subtitle>
          <mat-card-subtitle *ngIf="data.brunchMenu > 0">Brunch Menu: <a href="{{ data.brunchMenu }}" target="_blank" rel="noopener noreferrer">HERE</a></mat-card-subtitle>
        </div>
          <div style="text-align: right; padding: 0 10px;">
            <button mat-raised-button id="report-button" color="warn" (click)="openReport()">Report</button></div>
      </div> -->
      
      <!-- Row with two Columns to diplay the updated date and managed status in one row. 
  date and managed are modified in the details.component.ts so they aren't accessed from the data object  -->
      <!-- <div appNoPadding appTextCenter class="grid-container-2" class="status-bar">
        <div  style="text-align: right; padding-right: 10px; width: 50%">
          <mat-card-subtitle>Last Update: <strong>{{ date }}</strong> </mat-card-subtitle>
        </div>
        <div style="text-align: left; padding-left: 10px; width: 50%;">
          <mat-card-subtitle>Owner Managed: <strong
              [style.color]="data.managed ? 'green' : (!data.managed ? 'red': null)">{{ !data.managed ? 'No' : 'Yes'  }}</strong></mat-card-subtitle>
        </div>
      </div>
     -->
     
      <!-- <mat-card-content style="padding: 0 10px">   -->

  <!-- ////////////////////////// Start Tabs for Food, Drinks & Events ///////////////////////// -->
   <!-- <mat-tab-group>   -->
    <!-- /////////////////////////// Active Specials //////////////////////////// -->
    <!-- <mat-tab *ngIf="data.food.active || data.drinks.active || data.events.active" label="ACTIVE">
 
<ng-container *ngFor="let category of categories;">
  <ul *ngFor="let recurringSpecial of data[category.category].recurringSpecials">
    <span *ngIf="recurringSpecial.active">
   <ng-container *ngFor="let special of recurringSpecial.specials; let i = index;">
     <li class="special-title"><i class="material-icons" *ngIf="category === 'food'">restaurant</i>
      <i class="material-icons" *ngIf="category === 'drinks'">local_bar</i>
      <i class="material-icons" *ngIf="category === 'events'">event</i> {{ special | titlecase }}
      <br>
      <ng-container *ngFor="let description of recurringSpecial.specialDescriptions; let x = index">
        <p *ngIf=" i === x && description !== 'null'" class="special-description"> {{ description }}</p>
      </ng-container>
    </li>
   </ng-container>
  </span>
</ul>
<ul *ngFor="let specificDateSpecial of data[category.category].specificDateSpecials">
    <span *ngIf="specificDateSpecial.active">
  <ng-container *ngFor="let special of specificDateSpecial.specials; let i = index;">
  <li class="special-title">
    <mat-icon *ngIf="category === 'food'">restaurant</mat-icon>
    <mat-icon *ngIf="category === 'drinks'">local_bar</mat-icon>
    <mat-icon *ngIf="category === 'events'">event</mat-icon> {{ special | titlecase }}
    <br>
    <ng-container *ngFor="let description of specificDateSpecials.specialDescriptions; let x = index">
      <p *ngIf=" i === x && description !== 'null'" class="special-description"> {{ description }}</p>
    </ng-container>
  </li>
</ng-container>
  </span>
</ul>
</ng-container>
</mat-tab> -->
<!-- /////////////////////    END ACTIVE SPECIALS    ////////////////////// -->

<!-- /////////////////////   START CATEGORY SPECIALS    ////////////////////// -->
<!-- <ng-container *ngFor="let category of categories; let index = index;">
<mat-tab *ngIf="data[category.category].recurring || data[category.category].specificDate" label="{{ category.category | uppercase }}" style="width: 100%">
 -->

  <!-- If no specials exist, display "No Specials Happening Now" -->
<!-- Display No specials happening if there are no active specials-->
<!-- <div appTextCenter class="grid-container-1"
  *ngIf="!data[category.category].recurring && !data[category.category].specificDate">
  <p>No {{ category.category | titlecase }} Specials Available</p>
</div> -->

<!-- <div appNoPadding appTextCenter [ngClass]="'grid-container-' + foodDays.length" style="margin-bottom: 12px; background-color: whitesmoke;">
  <div appNoPadding style="cursor: pointer;" [class.active-day]="selectedDay === day.day" class="line day" (click)="dayChanged(day.day)" *ngFor="let day of foodDays">
    <span appTextCenter>{{ day.day }}</span></div>
</div> -->

<!-- Create a new tab group where each tab will represent a day of the week that the business has a special on. -->
<!-- <mat-tab-group id="secondGroup" *ngIf="categories[index].days.length > 0"> -->
  <!-- Loop through the days of the week -->
<!-- <mat-tab *ngFor=" let day of category.days; let i = index" label="{{ day.day | uppercase }}" >
      <span *ngFor="let recurringSpecial of day.recurringSpecials; let j = index" no-lines> -->
         <!-- Show the start and end time of the current special(s) specials -->
         <!-- <p class="special-time">
          {{recurringSpecial.start}} - {{recurringSpecial.end}}
        </p> -->
        <!-- Loop through and display all of the specials listed under this date and time periods -->
        <!-- <ng-container *ngFor="let special of recurringSpecial.specials; let m = index;">
          <li class="special-title">
            <mat-icon *ngIf="category === 'food'">restaurant</mat-icon>
            <mat-icon *ngIf="category === 'drinks'">local_bar</mat-icon>
            <mat-icon *ngIf="category === 'events'">event</mat-icon> 
            {{ special | titlecase }}
            <br>
            <ng-container *ngFor="let description of recurringSpecial.specialDescriptions; let x = index">
              <p *ngIf=" m === x && description !== 'null'" class="special-description"> {{ description }}</p>
            </ng-container>
            
          </li>
        </ng-container>
        
      </span>
      <span *ngFor="let specificDateSpecial of day.specificDateSpecials; let k = index" no-lines>
        <p padding class="special-time">
           {{specificDateSpecial.start}} - {{specificDateSpecial.end}}<span style="font-weight: bold">
            on: {{specificDateSpecial.date}}</span>
        </p>
        <ng-container *ngFor="let special of specificDateSpecial.specials; let n = index;">
          <li class="special-title">
            <mat-icon *ngIf="category === 'food'">restaurant</mat-icon>
            <mat-icon *ngIf="category === 'drinks'">local_bar</mat-icon>
            <mat-icon *ngIf="category === 'events'">event</mat-icon>
            {{ special | titlecase }}
            <br>
            <ng-container *ngFor="let description of specificDateSpecial.specialDescriptions; let x = index">
              <p *ngIf="n === x && description !== 'null'" style="font-size: 10px; font-style: italic;"> {{ description }}</p>
            </ng-container>
          </li>
        </ng-container>
      </span>
  
  </mat-tab>
  </mat-tab-group>


</mat-tab>
</ng-container>
  </mat-tab-group>
      </mat-card-content>
    </mat-card> -->
  
    <!-- Report Form -->
      <!-- <mat-card style="text-align: center; " class="card" *ngIf="reportLocation">
        <h2>Contact Savory Scout</h2>
        <mat-card-subtitle>Use the form below to report <strong>{{ data.name }}</strong>
        </mat-card-subtitle>
        <mat-card-subtitle><strong>Outdated Info? Concerns? Errors?</strong></mat-card-subtitle>
  
        <img mat-card-image class="sent-image" *ngIf="!sent"
          src="./../assets/icons/mail.png">
        <img mat-card-image class="sent-image" *ngIf="sent"
          src="./../assets/icons/checkmark.png">
          <mat-card-subtitle *ngIf="sent" class="message-sent">Message Sent!</mat-card-subtitle> -->

          <!-- Error Message -->
        <!-- <mat-card-subtitle appTextCenter *ngIf="errorMessage" style="background-color: rgb(255, 123, 123);">Error, please try
          again</mat-card-subtitle>
        <form [formGroup]="emailForm" (ngSubmit)="submitForm(emailForm)" *ngIf="!sent">
          <mat-card-content>
            <mat-form-field color="primary">
              <input matInput type="text" placeholder="Enter Name:" #name formControlName="name">
              <mat-hint align="end">Not more then 30 characters long.</mat-hint>
              <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
              <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 30 characters</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field color="primary" required>
              <input matInput placeholder="Enter Email:" #email formControlName="email" required>
              <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
              <mat-error *ngIf="hasError('email', 'email')">Email must be valid</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field color="primary" class="phone-input">
              <input matInput placeholder="Enter Phone:" #phone formControlName="phone" >
            </mat-form-field>
            <br>
            <mat-form-field color="primary">
              <textarea matInput placeholder="What would you like to report?:" #text formControlName="text"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="25"></textarea>
                <mat-hint align="end">Not more then 800 characters long.</mat-hint>
              <mat-error *ngIf="hasError('text', 'required')">Text content is required</mat-error>
              <mat-error *ngIf="hasError('text', 'maxlength')">You have more than 800 characters</mat-error>
            </mat-form-field>
            <br>
  
            <mat-card-actions align="center" style="margin:0; padding: 0;">
              <button *ngIf="!sent" mat-raised-button  type="button" (click)="onCancel()" color="warn">Cancel</button>
              <button *ngIf="!sent" mat-raised-button [disabled]="!emailForm.valid" type="submit" color="accent">Submit</button>
            </mat-card-actions>
          </mat-card-content>
        </form>  
        <button *ngIf="sent" mat-raised-button  type="button" (click)="onCancel()" color="accent">Close Reporting Form</button>
      </mat-card>
  </div>
   -->

  <!-- //////////////    TEST    //////////////////// -->

  