@import '../../../../variables';

.red-text {
    color: $warn;
}

.green-text {
    color: $accent;
}

.yellow-text {
    color: $caution;
}

.blue-text {
    color: $primary;
}

.blue-text, .yellow-text, .green-text, .red-text {
    font-size: 12px;
}